## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [1]:
import pandas as pd
import seaborn as sns
lego_sets = pd.read_csv('datasets/lego_sets.csv')
parent_themes = pd.read_csv('datasets/parent_themes.csv')

In [2]:
lego_sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

In [3]:
lego_sets.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [4]:
lego_sets.dropna(subset= ['set_num'], axis=0, inplace = True)

In [5]:
lego_sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11833 entries, 0 to 11832
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11833 non-null  int64
 3   num_parts     6835 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11833 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 647.1+ KB

In [6]:
parent_themes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           111 non-null    int64
 1   name         111 non-null    object
 2   is_licensed  111 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 2.0+ KB

In [7]:
merged = pd.merge(lego_sets, parent_themes, left_on= 'parent_theme', right_on = 'name', how= 'left', 
                 suffixes= ['_subtheme', '_parent_theme'])

In [8]:
merged.head()

,set_num,name_subtheme,year,num_parts,theme_name,parent_theme,id,name_parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,Town,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,Castle,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,Space,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,Space,False

In [9]:
merged.drop(['name_parent_theme'], axis= 1, inplace= True)

In [10]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11833 entries, 0 to 11832
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   set_num        11833 non-null  object
 1   name_subtheme  11833 non-null  object
 2   year           11833 non-null  int64
 3   num_parts      6835 non-null   float64
 4   theme_name     11833 non-null  object
 5   parent_theme   11833 non-null  object
 6   id             11833 non-null  int64
 7   is_licensed    11833 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(4)
memory usage: 751.1+ KB

## 1. What percentage of all licensed sets ever released were Star Wars themed?

In [11]:
licensed_sets = merged[merged.is_licensed == True]

In [12]:
licensed_sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1179 entries, 44 to 11822
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   set_num        1179 non-null   object
 1   name_subtheme  1179 non-null   object
 2   year           1179 non-null   int64
 3   num_parts      664 non-null    float64
 4   theme_name     1179 non-null   object
 5   parent_theme   1179 non-null   object
 6   id             1179 non-null   int64
 7   is_licensed    1179 non-null   bool
dtypes: bool(1), float64(1), int64(2), object(4)
memory usage: 74.8+ KB

In [13]:
tryi = licensed_sets.parent_theme.value_counts(normalize= True)

In [14]:
the_force= round(tryi['Star Wars']* 100, 3)

In [15]:
print('{}% of licensed sets ever released where Starwars themed'.format(the_force))

51.654% of licensed sets ever released where Starwars themed

In [16]:
licensed_sets.head()

,set_num,name_subtheme,year,num_parts,theme_name,parent_theme,id,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,True

## 2. In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?

In [17]:
not_starwars = licensed_sets.groupby('year').parent_theme.value_counts()

In [18]:
not_starwars = pd.DataFrame(not_starwars)

In [19]:
not_starwars = not_starwars.rename(columns= {'parent_theme': 'count'})

In [20]:
not_starwars.reset_index(inplace= True)

In [35]:
sub = not_starwars.groupby('year', as_index= False)['count'].max()
sub

    year  count
0   1999     13
1   2000     26
2   2001     14
3   2002     28
4   2003     32
5   2004     20
6   2005     28
7   2006     11
8   2007     16
9   2008     23
10  2009     39
11  2010     30
12  2011     32
13  2012     43
14  2013     35
15  2014     45
16  2015     58
17  2016     61
18  2017     72

In [45]:
long_try = pd.merge(sub, not_starwars, on= ['count', 'year'])

In [46]:
long_try

    year  count  parent_theme
0   1999     13     Star Wars
1   2000     26     Star Wars
2   2001     14     Star Wars
3   2002     28     Star Wars
4   2003     32     Star Wars
5   2004     20     Star Wars
6   2005     28     Star Wars
7   2006     11     Star Wars
8   2007     16     Star Wars
9   2008     23     Star Wars
10  2009     39     Star Wars
11  2010     30     Star Wars
12  2011     32     Star Wars
13  2012     43     Star Wars
14  2013     35     Star Wars
15  2014     45     Star Wars
16  2015     58     Star Wars
17  2016     61     Star Wars
18  2017     72  Super Heroes

In [48]:
long_try.parent_theme.unique()

array(['Star Wars', 'Super Heroes'], dtype=object)

In [50]:
new_era = long_try[long_try['parent_theme'] != 'Star Wars'].year

In [51]:
new_era

18    2017
Name: year, dtype: int64